---
import Layout from "../layouts/Layout.astro";
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, "");
---

<Layout title="About MirrorShard 2">
    <header>
        <div class="container nav-wrapper">
            <a href={baseUrl} class="logo" style="font-family: 'Orbitron';"
                >[ Back to Home ]</a
            >
            <nav>
                <a href={import.meta.env.BASE_URL.replace(/\/$/, "") + "/About"}
                    >About</a
                >
                <div id="headerfeature">
                    <button id="feature_pulldown">Features</button>
                    <div id="feature_menu" class="hidden">
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/immersive"}
                            class="feature_item">没入感と縦書き</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/AI"}
                            class="feature_item">多彩なAI機能</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/Customize"}
                            class="feature_item">自由な画面デザイン</a
                        >
                        <a
                            href={import.meta.env.BASE_URL.replace(/\/$/, "") +
                                "/Markdown"}
                            class="feature_item">マークダウン・HTML編集</a
                        >
                    </div>
                </div>
                <a
                    href="https://github.com/DroicheadNua/MirrorShard_2/releases/latest"
                    >Download</a
                >
                <a
                    href="https://github.com/DroicheadNua/MirrorShard_2/tree/main/docs"
                    >Docs</a
                >
                <a href={`${baseUrl}/Blog/`}>Blog</a>
            </nav>
        </div>
    </header>

    <main>
        <h1>About MirrorShard</h1>
        <div class="piller-wrapper">
            <div class="left-piller">
                <div class="card">
                    <h2>MirrorShardとは？</h2>
                    <p>クロスプラットフォームの創作支援用エディタです。</p>
                    <p>
                        没入感の高いミニマルなデザインと、日本語の創作に特化した縦書きプレビュー、AIチャット機能などが特徴のエディタで、
                        大手ITサイトの「窓の杜」さんでもご紹介いただきました。
                    </p>
                    <br />
                    <a
                        href="https://forest.watch.impress.co.jp/docs/review/2057327.html"
                        target="_blank"
                        rel="noopener noreferrer"
                        style="font-style: italic;text-decoration: underline"
                        >シンプル・ミニマルで禅の境地
                        ～小説執筆に特化したWin/Mac向けエディター「MirrorShard」</a
                    >
                    <br />
                    <br />
                    <a
                        href="https://forest.watch.impress.co.jp/docs/news/2063091.html"
                        target="_blank"
                        rel="noopener noreferrer"
                        style="font-style: italic;text-decoration: underline"
                        >小説執筆のためのテキストエディター「MirrorShard」にAIチャット機能、v1.5.0が公開</a
                    >
                    <img src={`${baseUrl}/img/electron01.jpg`} alt="sc03" />
                    <div class="cta-buttons">
                        <a
                            href="https://github.com/DroicheadNua/MirrorShard/releases/latest"
                            class="btn primary"
                            >MirrorShard（前作）のダウンロードはこちら</a
                        >
                    </div>
                </div>
            </div>
            <div class="right-piller">
                <div class="card">
                    <h2>MirrorShard 2の特徴</h2>
                    <p>
                        前作「MirrorShard」をベースに、ソフトウェアフレームワークをTauriに変更して大幅にブラッシュアップ。
                    </p>
                    <p>
                        起動の高速化と省メモリ化に成功し、さらにファイルサイズは前作の183MBからわずか6MB（Windows版）へと、約30分の1にまでスリム化しました。
                    </p>
                    <p>
                        他にも新たなAI機能の追加、マークダウン/HTMLプレビューウィンドウの実装など、
                        新機能の追加が行われています。
                    </p>
                </div>
                <div class="card">
                    <h3 style="font-family: 'M PLUS 1p'">注意事項</h3>
                    <p>
                        ・エンコードは原則として、UTF-8 (BOMなし)
                        での利用を強く推奨します。<br />
                        ・縦書きでのエクスポートにはPandocのインストールが必要です（横書きは不要）
                    </p>
                    <h3 style="font-family: 'M PLUS 1p'">免責事項</h3>
                    <p>
                        このソフトウェアはフリーウェアであり、無保証（AS
                        IS）で提供されます。
                        作者は、このソフトウェアの使用によって生じたいかなる損害（データの損失、逸失利益などを含むがこれに限らない）についても、一切の責任を負いません。
                        開発には細心の注意を払っていますが、予期せぬ不具合が含まれている可能性があります。重要なデータを扱う際には、定期的にバックアップを取るようにしてください。
                        このソフトウェアを利用した時点で、上記の免責事項に同意したものとみなします。
                    </p>
                    <h3 style="font-family: 'M PLUS 1p'">ライセンス</h3>
                    <p>
                        本ソフトウェアは<a
                            href="https://github.com/DroicheadNua/MirrorShard_2/blob/main/LICENSE"
                            >MITライセンス</a
                        >のもとで公開されています。
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        background: #050505;
        color: #eee;
    }

    h1 {
        font-family: "Orbitron";
        text-align: center;
        font-size: 3.5rem;
        margin-bottom: 1rem;
        letter-spacing: 2px;
        text-shadow: 0 0 20px rgba(0, 255, 65, 0.3);
        -webkit-text-stroke: 2px green;
    }
    h2 {
        font-family: "Orbitron";
        font-size: 2rem;
        color: #00ff22;
        text-align: center;
    }
    h3 {
        color: orange;
    }

    p {
        color: #eee;
        text-align: start;
        font-family: "M PLUS 1p";
    }

    .btn {
        display: inline-block;
        padding: 12px 30px;
        border-radius: 4px;
        font-weight: bold;
        margin: 0 10px;
        font-family: sans-serif;
    }

    .btn.primary {
        background: transparent;
        border: 1px solid #00ff3399;
        color: #00ff33cc;
        text-shadow: 0 0 20px rgba(0, 255, 65, 0.5);
        box-shadow: 0 0 20px rgba(0, 255, 65, 0.5);
    }

    .btn.primary:hover {
        background: var(--accent-color);
        color: #000;
        box-shadow: 0 0 20px var(--accent-color);
    }
</style>

<script>
    document.addEventListener("astro:page-load", () => {
        const featurepulldown = document.querySelector(
            "header #feature_pulldown"
        );
        const featuremenu = document.querySelector("header #feature_menu");

        if (featurepulldown && featuremenu) {
            featurepulldown.addEventListener("click", (e) => {
                e.stopPropagation();
                featuremenu.classList.toggle("hidden");
            });

            window.addEventListener("click", () => {
                if (!featuremenu.classList.contains("hidden")) {
                    featuremenu.classList.add("hidden");
                }
            });
        }
    });
</script>
